.mainTodo{
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  .todoTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .addButton{
    cursor: pointer;
  }

  .footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
  .todoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .todoCompleted{
    display: flex;
    align-items: center;
  }

  .item{
    margin-left: 5px;
  }

  .completedItem{
    text-decoration: line-through;
  }

  .icon{
    cursor: pointer;
  }

  .cardContent{
    min-height: 200px;
    max-height: 300px;
    overflow-y: auto;
  }

  .todoActions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    box-shadow: 0px -2px 5px rgb(209, 199, 199);
  }

  .themeIcon{
    cursor: pointer;
  }
}